@define-color foreground #ebdbb2;
@define-color background #282828;

@define-color selection_background #d4be98;
@define-color selection_foreground #282828;

@define-color color0 #282828;
@define-color color8 #767676;

/* black */

@define-color color1 #cc241d;
@define-color color9 #fb4934;

/* red */

@define-color color2  #98971a;
@define-color color10 #b8bb26;

/* green */

@define-color color3  #d79921;
@define-color color11 #fabd2f;

/* yellow */

@define-color color4  #458588;
@define-color color12 #83a598;

/* #: blue */

@define-color color5  #b16286;
@define-color color13 #d3869b;

/* #: magenta */

@define-color color6  #689d6a;
@define-color color14 #8ec07c;

/* #: cyan */

@define-color color7  #a89984;
@define-color color15 #ebdbb2;

/* #: white */