@define-color foreground #ebdbb2;
@define-color background #282828;

@define-color selection_background #d4be98;
@define-color selection_foreground #282828;

@define-color color0 #282828;
@define-color color8 #767676;

/* black */

@define-color color1 #cc241d;
@define-color color9 #fb4934;

/* red */

@define-color color2  #98971a;
@define-color color10 #b8bb26;

/* green */

@define-color color3  #d79921;
@define-color color11 #fabd2f;

/* yellow */

@define-color color4  #458588;
@define-color color12 #83a598;

/* #: blue */

@define-color color5  #b16286;
@define-color color13 #d3869b;

/* #: magenta */

@define-color color6  #689d6a;
@define-color color14 #8ec07c;

/* #: cyan */

@define-color color7  #a89984;
@define-color color15 #ebdbb2;

/* #: white */

* {
  font-family:
    "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @color3;
  border-radius: 8px;
  background-color: @background;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @background;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @background;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @background;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @color7;
  background-color: @background;
}

#input image {
  border: none;
  color: @color1;
}

#input * {
  outline: 4px solid @color1!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @color7;
}

#entry {
  background-color: @background;
}

#entry arrow {
  border: none;
  color: @color2;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @color2;
}

#entry:selected #text {
  color: @color2;
}

#entry:drop(active) {
  background-color: @color2!important;
}
